@import url(common.css);

/*=========================================*/
/*.banner {
    position: relative;
    width: 100%;
    height: 400px;
    /*    top: 100px;*/
/*margin: 0 auto;
    overflow: hidden;
}


.banner .imgs {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.banner .imgs li {
    position: absolute;
    left: 0;
    display: none;
}

.banner .imgs li:first-child {
    display: block;
}

.banner .imgs li.active {
    display: block;
}

.banner .imgs li a {
    display: block;
    text-align: center
}

.banner .imgs li a img {
    display: block;
    height: 400px; width:100%;
    
}

.banner .btn-prev,
.banner .btn-next {
    position: absolute;
    top: 160px;
    color: #333;
    font-size: 26px;
}

.banner .btn-prev {
    left: 20px;
    font-size: 50px;
}

.banner .btn-next {
    right: 20px;
    font-size:50px 
}

.indi {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;

}

.indi a {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 100%;
    text-indent: -9999em;
    font-size: 0;
    vertical-align: middle
}


.indi a.active {
    background: #333;
    width: 20px;
    border-radius: 20px;
}
*/


.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    /*display: none*/
}

.slides:nth-of-type(2) {
    display: none;
}

.slides a img {
    width: 100%;
    height: 400px;
}

.banner .butn a {
    position: absolute;
    top: 160px;
    color: #333;
    font-size: 26px;
}

.banner .butn .btn-prev {
    left: 20px;
    font-size: 50px;
}

.banner .butn .btn-next {
    right: 20px;
    font-size: 50px
}

/* Slideshow container */
.imgs {
    /* max-width: 1000px;*/
    position: relative;
    margin: 0 auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.indi {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;

}

.indi .dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 100%;
    text-indent: -9999em;
    font-size: 0;
    vertical-align: middle
}


.indi .dot.active {
    background: #333;
    width: 20px;
    border-radius: 20px;
}


.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
/*.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}*/

/* On smaller screens, decrease text size */
/*@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}*/

/*=======================*/

/*
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.imgs {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    text-align: left;
}

.imgs li {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.imgs li a img {
    width: 100%;
    height: 100%;
}


.banner .butn a {
    position: absolute;
    top: 160px;
    color: #333;
    font-size: 26px;
}

.banner .butn .btn-prev {
    left: 20px;
    font-size: 50px;
}

.banner .butn .btn-next {
    right: 20px;
    font-size: 50px
}

.indi {
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;

}

.indi a {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 100%;
    text-indent: -9999em;
    font-size: 0;
    vertical-align: middle
}


.indi a.active {
    background: #333;
    width: 20px;
    border-radius: 20px;
}


*/



/*=========================================*/

.sample {}

.sample h2 {
    padding: 30px 0 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    font-size: 25px;
}

.sample p {
    text-align: center;
    font-size: 15px;
}

.sample p:after {
    content: '';
    clear: both;
    display: block;
    width: 30px;
    height: 2px;
    background: #333;
    margin: 40px auto;
}

.sample h2 {
    font-size: 3em;
}

.sample p {
    font-size: 15px;
    ;
}


/*==========================================*/

.main {}

.list li {
    padding: 0;
}

.list li figure img {
    width: 100%;
    height: 16vw;
}

.list li figure {
    position: relative;
}

.list li figure figcaption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    font-size: 1.5em;
}

.list li a figure figcaption {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.list li:hover a figure figcaption {
    opacity: 1;
    transition: .5s
}


/*======================================*/

.service {
    text-align: center;
    background: #ededed;
    padding: 60px;
    margin-top: 50px;
}

.service h2 {
    font-size: 3em;
    padding-bottom: 5px;
}

.service p {
    font-size: 15px;
}

.service p:after {
    content: '';
    clear: both;
    display: block;
    width: 30px;
    height: 2px;
    background: #333;
    margin: 40px auto;
}

.service ul {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.service ul li {}

.service ul li a {
    color: #333;
}

.service ul li a figure {}

.service ul li a figure img {}

.service ul li a figure figcaption {
    padding: 20px;
}


/*======================================*/

.best {
    width: 70%;
    margin: 50px auto;
}

.best h2 {
    text-align: center;
    font-size: 3em;
    padding-bottom: 10px;
}

.best p {
    text-align: center;
    font-size: 15px;
}

.best > p:after {
    content: '';
    clear: both;
    display: block;
    width: 30px;
    height: 2px;
    background: #333;
    margin: 40px auto;
}

.best ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.best ul li {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 50px;
    width: 100%;
}

.best ul li img {
    width: 100%;
    height: 15vw;
}

.best ul li article {
    position: relative;
    padding: 20px;
}

.best ul li article > a {
    position: absolute;
    top: -20px;
    left: 5px;
    background: #ff6565;
    width: 8vw;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.best ul li article > a > img {
    width: 25px;
    height: 25px;
}

.best ul li article a h3 {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.best ul li article p {
    text-align: left;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 30px 10px;
}

.best ul li article p a {
    padding-top: 30px;
}

.best > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 20px;
    color: black;
}



/*=========================================*/

/*모바일*/

@media (min-width:480px) and (max-width:720px) {
    .best ul li article p {
        font-size: 18px;
    }
}



@media (max-width:720px) {

    .list li:nth-child(1n+9) {
        display: none;
    }

    .list li a figure img {
        height: 30vh;
    }

    .list li a figure figcaption {
        display: none;
    }

    .best {
        width: 80%
    }

    .best ul li {
        display: inline-block;
    }

    .best ul {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%:
    }

    .best ul li {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        margin: 0px 0px 0px 0;
        width: 100%;
    }

    .best ul li img {
        width: 100%;
        height: 100%;
    }

    .best ul li:nth-child(1) {
        margin: 0px 0px 50px 0;
    }

    .best ul li:nth-child(3) {
        display: none;
    }

    .best ul li article > a {
        width: 25vw;
        top: -18px;
    }

    .best ul li article p {
        text-align: left;
        white-space: pre-line;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 30px 10px 0;
    }

    .service ul {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .service ul li {
        padding: 10px;
    }

    .service ul li a figure figcaption {
        padding: 00px;
    }


    /* .banner .imgs a:nth-of-type(1) img{
        background: url(../img/m1banner.jpg) no-repeat;
        background-size: 100% 100%;

    }

    .banner .imgs a:nth-of-type(2) {
        background: url(../img/m2banner.jpg) no-repeat;
        background-size: 100% 100%;
    }*/

}
