@import url('common.css');


/**********배너**********/
.banner {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background: url('../img/2-1.jpg') no-repeat;
    background-size: 100% 100%;
}


.banner h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}


/**********공지리스트**********/
.notice {
    width: 1080px;
    margin: 30px auto;
}

.table {
    width: 100%;
}

.table hr {
    margin: 5px auto;
}

.table table {
    width: 100%;
}

.table thead {
    width: 100%;
    text-align: center;
    background-color: #ededed;
    border-radius: 10px;

    font-size: 15px;
    color: #333333;
    line-height: 3;
}

.table tbody {
    width: 100%;
    font-size: 15px;
}

.table tbody tr {
    text-align: center;
    font-size: 15px;
}

.table tbody tr:nth-of-type(1) {
    line-height: 3;
    border-bottom: 1px solid #ededed;
}

.table tbody tr:nth-of-type(2) {}

.table tbody tr:nth-of-type(2) img {
    margin: 5% auto;
}

.table body tr th {}

.table tbody tr th:nth-of-type(1) {
    text-align: center;
}

.table tbody tr th:nth-of-type(2) {
    text-align: left;
    font-size: 18px;
}

.table tbody tr th:nth-of-type(3) {
    text-align: center;
}

.table tbody tr th:nth-of-type(4) {
    text-align: center;
}

.table tbody tr th:nth-of-type(5) {
    text-align: center;
}

/**********글쓰기 버튼**********/
.button {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 1080px;
}

.button a {
    width: 150px;
    display: inline-block;
    padding: 5px 5px;
    border-radius: 10px;
    margin: 40px auto;
    color: #333;
    transition: .5s;
    font-size: 15px;
    border: 1px solid #ededed;
    background: #ededed;
    line-height: 2;
}



/*---------모바일 480----------*/


@media (max-width:720px) {

    .banner {
        position: relative;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        background: url('../img/17.jpg') no-repeat;
        background-size: 100% 100%;
    }


    main {
        width: 100%;
        margin: 0 auto;
    }

    .notice {
        width: 100%;
    }

    .table {
        width: 95%;
        margin: 0 auto;
    }

    .button {
        width: 50%;
        height: 30vw;
    }

    .button a {
        padding: 5px 5px;
        border-radius: 10px;
        margin: 40px auto;
        transition: .5s;
        font-size: 15px;
    }


    .table table thead td:nth-of-type(1) {
        width: 10%;
    }

    .table table thead td:nth-of-type(2) {
        width: 60%;
    }

    .table table thead td:nth-of-type(3) {
        width: 10%;
        display: none;
    }

    .table table thead td:nth-of-type(4) {
        width: 20%;
    }

    .table table thead td:nth-of-type(5) {
        width: 10%;
    }

    .table table tbody th {
        font-size: 15px;
    }

    .table tbody tr th:nth-of-type(2) {
        text-align: center;
    }

    .table table tbody th:nth-of-type(3) {
        display: none;
    }

    .table table tbody th:nth-of-type(4),
    .table table tbody th:nth-of-type(5) {
        font-size: 13px;
    }

    .table table tbody tr {}

    .table table tbody tr:nth-of-type(2) img {
        width: 100%;
    }
}
