@import url('common.css');


/**********배너**********/
.banner {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background: url('../img/2-1.jpg') no-repeat;
    background-size: 100% 100%;
}

.banner h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}


/**********본문 예약하기**********/


.re {
    width: 1080px;
    margin: 0 auto;

    overflow: hidden;
}

.tab {
    margin: 50px auto 0;
    float: left;
}

.tab > p img {
    width: 450px;
    height: 450px;
}


.tab-body a {
    display: inline-block;
    margin: 5px;
}

.tab-body a:nth-of-type(1) {
    margin-left: 0;
}

.tab-body a.active {
    background: white;
    color: #fff;
}

.tab-body a img {
    width: 140px;
}



/*예약선택*/

table {
    color: #333333;
    font-size: 15px;
    float: right;
    margin-top: 30px;
}

tbody {}

tbody tr:nth-of-type(1) td input {
    padding: 10px
}



input[type=radio]:checked,
input[type=checkbox]:checked {
    background-color: red;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

tbody tr th {
    text-align: right;
    line-height: 2;
    width: 30%;
    font-size: 18px
}

tbody tr td {
    padding: 10px;
}

tbody tr td input {
    text-align: center;
    background: #ededed;
    border: none;
    border-radius: 10px;
    margin: 0 5px 0 10px;
}

tbody tr td select {
    width: 150px;
    padding: 8px;
    background: #ededed;
    border-radius: 10px;
    border: none;
}

tbody tr td textarea {
    width: auto;
    height: 100%;
    padding: 5px;
    background: #ededed;
    border-radius: 10px;
    border: none;
}

tbody tr:nth-of-type(1) {}

tbody tr:nth-of-type(2) {}

tbody tr:nth-of-type(3) {}

tbody tr:nth-of-type(4) {}

tbody tr:nth-of-type(5) {}

tbody tr:nth-of-type(6) td {}

tbody tr:nth-of-type(7) th small {
    float: none;
    font-size: 12px;
}

tbody tr:nth-of-type(8) {}


/*금액*/

tfoot {
    width: 100%;
    margin: 0 auto;
}

tfoot tr {
    text-align: center;
    padding: 30px;
}

tfoot tr th {
    text-align: right;
    font-size: 20px
}

tfoot tr td {
    text-align: right;
    font-size: 20px;
    padding: 10px
}

tfoot tr:nth-of-type(1) {}

tfoot tr:nth-of-type(2) {}

tfoot tr:nth-of-type(3) {
    font-size: 20px;
}


/**********버튼**********/

.but {
    width: 1080px;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px 0;
}

.button {
    float: right;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.button a {
    width: 257px;
    height: 50px;
    display: inline-block;
    margin: 20px 5px;
    padding: 1.5% 0;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}


/*장바구니*/

.button a:nth-of-type(1) {
    color: #333333;
    border: 1px solid #ededed;
    background: #ededed;
}


/*예약하기*/

.button a:nth-of-type(2) {
    color: #fcfbe3;
    border: 1px solid #ad74ce;
    background: #ad74ce;
}


/**********상세설명**********/

.list {
    width: 1080px;
    margin: 0 auto;
}

.list header {
    background: #fcfbe3;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.list header p {
    color: #333333;
    font-size: 30px;
    padding: 12px 0;
    text-align: center;
}

.list img {
    width: 100%;
    margin: 10% auto;
}


/*---------모바일 720----------*/

@media (max-width:720px) {
    main {
        width: 100%;
    }

    .banner {
        position: relative;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        background: url('../img/17.jpg') no-repeat;
        background-size: 100% 100%;
    }

    .re {
        height: auto;
        width: 100%;
        overflow: none;
    }

    .re .tab {
        float: none;
        width: 100%;
    }

    .re .tab p {
        margin: 0 auto;
        text-align: center
    }

    .re .tab p img {
        width: 90%;
        height: 50%
    }

    .re .tab .tab-body {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .tab-body a {
        width: 30%;
        margin: 0 auto;
    }

    .tab-body a img {
        width: 100%;
    }

    .tab-body a {
        display: inline-block;
        margin: 0px;
    }

    .tab-head div.active {
        /*        display: block;*/
    }

    /*==========================*/
    table {
        float: none;
        width: 90%;
        margin: 30px auto 0;
    }

    table td input {
        font-size: 20px;
    }

    table tbody {
        width: 100%;
        margin: 0 auto;
    }

    tbody tr {
        width: 100%;
        font-size: 11px;
        display: block;
        border-bottom: 1px solid #ddd;

    }

    tbody tr th {
        text-align: left;
        width: 100%;
        display: block;
    }

    tbody tr td {
        text-align: ;
        padding-left: 20px;
    }

    tbody tr:nth-of-type(1) td input {
        padding: 5px;
        margin: 0 0 10px;
    }

    table tbody tr:nth-of-type(1) {}


    table tbody tr:nth-of-type(1) td {
        width: 100%;
    }
    

    /*=============================*/
    .table tfoot tr {
        font-size: 10px;
    }

    .table tfoot tr:nth-of-type(3) {
        font-size: 15px;
    }

    tfoot {
        width: 90%;
        margin: 0 auto;
        display: block;

    }

    tfoot tr {
        text-align: center;
        padding: 30px;
        width: 100%;
    }

    tfoot tr th {
        text-align: right;
        width: 45%;
    }

    tfoot tr td {
        width: 100%;
        text-align: left;
        font-size: 20px;
        padding: 10px;
        display: flex;
    }

    tfoot tr td input {
        border: none;
        text-align: center
    }

    tfoot tr:nth-of-type(1) {}

    tfoot tr:nth-of-type(2) {}

    tfoot tr:nth-of-type(3) {
        font-size: 20px;
    }

    /*====================================*/
    .but {
        width: auto;
    }

    .button {
        width: 100%;
        height: 30vw;
        text-align: center;
    }

    .but .button a {
        width: 30%;
        height: 30%;
        font-size: 18px;
        text-align: center;
    }

    .list {
        width: auto;
    }

    .list header p {
        width: 100%;
    }

    .list img {
        width: 100%;
    }
}
