@import url('common.css');


/**********버거**********/


/**********배너**********/

.banner {
    position: relative;
    width: 100%; height: 150px; margin: 0 auto; 
}

.banner img {
    width: 100%;
    height: 100%;
}

.banner h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}



/**********본문 베스트**********/
.best {
    width: 1080px;
    margin: 0 auto;
}

.list {}

.best .list h2 {
    line-height: 5;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.list ul {}

.list ul li {
    margin: 0px 40px;
}

.list ul li figure {
    position: relative;
}

.list ul li figure img {
    width: 100%;
    height: 15vw;
}

.list ul li figure figcaption {
    white-space: pre-line;

    position: absolute;
    background: rgba(10, 10, 10, 0.5);
    color: white;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 13px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: 0;

    line-height: 2;
}

.list ul li:hover figure figcaption {
    opacity: 1;
}

.name {
    font-size: 13px;
    display: flex;
}

.name p:nth-of-type(1) {}

.name p:nth-of-type(2) {
    margin-left: 60%;
}

/**********본문 일반후기**********/
.normal {
    width: 1080px;
    margin: 0 auto;
}

.list2 {}

.list2 h2 {
    line-height: 5;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.list2 ul {}

.list2 ul li {}

.list2 ul li figure {
    overflow: hidden;
    margin-bottom: 15%;
    padding: 5%;
    padding-bottom: 0;
}

.list2 ul li figure img {
    width: 100%;
    height: 13vw;
}

.list2 ul li figure span {
    margin: 0 3%;
}

.list2 ul li figure span:nth-of-type(1) {}

.list2 ul li figure span:nth-of-type(2) {
    float: right;
}

.list2 ul li figure img:hover {
    filter: brightness(110%);
}

/**********글쓰기 버튼**********/
.button {
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    overflow: hidden;
}

.button a {
    float: right;

    border: 1px;
    border-radius: 10px;
    width: 100px;
    background-color: #ad74ce;
    color: #fcfbe3;
    font-size: 15px;
    line-height: 2;
}

/**********페이지 버튼**********/
.paging {
    text-align: center;
    margin: 3% 0;
}

.paging a {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 15px;
    padding: 1%;
}

.paging a:hover:after,
.paging a.active:after {
    content: '';
    border: 1px solid #777777;
    width: 100%;
    display: block;
    text-decoration-color: red;
}



/*---------모바일 480----------*/


   
@media (max-width:720px) {

    header {
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }

    header .top {
        width: 100%;
        margin: 0 auto;

    }

    header .top h1 {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    header .top h1 a {
        font-size: 50px;
        color: #333;
    }

    header .top .gnb {
        position: absolute;
        right: 10%;
        top: 10px;
    }

    header .gnb a {
        padding: 5px;

    }


    header nav.active {
        transform: translateX(0%);
    }

    header nav {
        top: 0;
        right: 0;
        position: fixed;
        height: 100%;
        width: 30%;

        background: rgba(0, 0, 0, 0.6);

        display:block;
        align-items: center;
        transform: translateX(100%);
        transition: .5s;
        z-index: 1;
        text-align: center;


    }


    header nav a {
        top: 25%;
        font-size: 15px;
        display: block;
        padding-bottom: 30px;

    }

    .banner img {height: 100px;}
    
    .banner h2 {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
    
    
    footer > ul li a {
        padding: 0px;
    }
    

    
   
    main {
        width: 100%;
    }

    .best {
        width: 100%;
    }

    .list {
        width: 100%;
        display: inline-block;
    }

    .best .list h2 {
        width: 100%;
        font-size: 15px;
    }

    .list ul {}

    .list ul li {
        width: 90%;
/*        justify-content: space-between;*/
        margin: 0 auto;
/*        flex-wrap: wrap;*/
    }

    .list ul li figure {
        height: auto;
        opacity: 1;
        
    }

    .list ul li figure img {
        width: 100%;
        height: 80vw;
        
    }

    .list ul li a figure figcaption {
        color: black;
        position: static;
        width: 100%;
        opacity: 1;
        white-space: normal;
        background: none;
        font-size: 12px;
        padding: 3%;
    }

    .list ul li a figure figcaption h3 {
        font-size: 15px;
        padding: 3%;
        
    }

    .normal {
        width: 100%;
    }

    .list2 {}

    .list2 h2 {
        width: 100%;
        font-size: 15px;
    }

    .list2 ul {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .list2 ul li {
        width: 48%;
    }

    .list2 ul li a {}

    .list2 ul li a figure {
        width: 100%;
        height: auto;
        
    }

    .list2 ul li a figure img {
        width: 100%;
        height: 40vw;
    }

    .button {
        width: 90%;
        height: 20vw;
    }

    .button a {
        width: 20%;
        font-size: 10px;
    }

}
