@import url('common.css');

/**********배너**********/
.banner {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    background: url('../img/2-1.jpg') no-repeat;
    background-size: 100% 100%;
}

.banner h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

/*=========================================*/

main {
    padding-bottom: 100px;
}

main div:nth-of-type(2) {
    text-align: center;
    padding: 50px;
    box-shadow: 2px 1px 10px 1x rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}


/*==================================*/

.mmm {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    white-space: pre-line;
}

.mmm img {
    width: 50px;
    height: 50px;
}

.mmm th {
    font-size: 25px;
    text-align: left;
    padding-bottom: 20px;
}

.mmm td {
    font-size: 20px;
    padding: 10px;
}

.m2 tr td:nth-of-type(1) {
    position: relative;
    text-align: left;
}

.m2 tr td:nth-of-type(1):after {
    content: '';
    height: 20px;
    width: 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 30%;
}

.m3 tr td:nth-of-type(1) {
    position: relative;
    text-align: left;
}

.m3 tr td:nth-of-type(1):after {
    content: '';
    height: 20px;
    width: 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 30%;
}


/*=============================*/

.m1 {
    width: 60%;
    padding: 10px 0 0 20px;
}

.m2 {
    width: 80%;
    padding: 10px 0 0 20px;
    height: 100%;
}

.m3 {
    width: 100%;
    padding: 10px 0 0 20px;
    height: 100%;
}


/*===================================*/

@media (max-width:720px) {
    .main {
        width: 100%;
        margin: 80px auto;
    }

    main {
        padding-bottom: 100px;
    }

    main div:nth-of-type(2) {
        text-align: center;
        padding: 30px 0 0;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }

    main div:nth-of-type(2) iframe {
        width: 95%;
    }

    .banner {
        position: relative;
        width: 100%;
        height: 150px;
        margin: 0 auto;
        background: url('../img/17.jpg') no-repeat;
        background-size: 100% 100%;
    }

    .mmm {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        white-space: pre-line;
        position: relative;
    }

    .mmm img {
        width: 60px;
        height: 60px;
        margin: 30px 0 0 30px;

    }

    .mmm th {
        font-size: 25px;
        text-align: center;
        padding-bottom: 20px;
    }

    .mmm td {
        font-size: 20px;
        padding: 20px 0px 0 20px;
    }

    .m2 tr td:nth-of-type(1):after {
        content: '';
        height: 20px;
        width: 2px;
        background: #333;
        position: absolute;
        right: 0;
        top: 50%;
    }

    .m3 tr td:nth-of-type(1) {
        position: relative;
        text-align: left;
    }

    .m3 tr td:nth-of-type(1):after {
        content: '';
        height: 20px;
        width: 2px;
        background: #333;
        position: absolute;
        right: 0;
        top: 35%;
    }

    .m3 tr:nth-of-type(4) td:after {
        height: 100px;
        top: 30%;
    }

    /*=============================*/
    .m1 {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .m1 tr:nth-of-type(2) td {
        padding-bottom: 20px
    }

    /*========================*/

    .m2 {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }

    .m2 tr:nth-of-type(1) th {
        colsp
    }

    .m2 tr td:nth-of-type(1) {
        text-align: center;
    }

    .m2 tr td:nth-of-type(2) {
        text-align: left;
    }

    /*========================*/

    .m3 {
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
    }


    .m3 tr td:nth-of-type(1) {
        text-align: center;
    }


    .m3 tr td:nth-of-type(2) {
        text-align: left;
    }


}
